<nav class="navbar">
    <ul>
        <li><a data-unid="navbar__nav_dashboard_link" id="nav-dashboard-link" href="dashboard.html">Dashboard</a></li>
        <li><a data-unid="navbar__nav_projects_link" id="nav-projects-link" href="projects.html">Projects</a></li>
    </ul>

    <div class="nav-right">
        <div class="account-menu" id="account-menu">
            <button data-unid="navbar__account_btn" id="account-btn" type="button" class="btn small" aria-haspopup="true" aria-expanded="false">
                Account <span class="account-icon">👤</span>
            </button>
            <div class="account-dropdown" id="account-dropdown" aria-hidden="true">
                <a data-unid="navbar__nav_settings_link" id="nav-settings-link" href="settings.html" class="dropdown-link">Settings</a>
                <button data-unid="navbar__logout_btn" id="logout-btn" class="dropdown-link">Log out</button>
            </div>
        </div>
    </div>
</nav>
